{% extends "base.html" %}

{% block title %}Energy Usage at Mudd{% endblock %}

{% block morehead %}
<script language="javascript" type="text/javascript">
    var MEDIA_URL = "{{ MEDIA_URL }}";
    var data_url = "{{ data_url }}";
</script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}dynamic_graph.js"></script>
{% endblock %}

{% block content %}
<div id="graph"></div>

<table class="center" id="energystats">
    <colgroup id="colgroupstats">
    <col id="leftthcol" />
    {% for sg in sensor_groups %}
        {% for s in sg.3 %}
            <col class="col{{ sg.3|length }}" />
        {% endfor %}
    {% endfor %}
    </colgroup>
    <tbody>
        <tr id="trhead">
            <th rowspan="2" class="leftth"></th>
            {% for sg in sensor_groups %}
                {% if sg.3|length > 1 %}
                    <th colspan="{{ sg.3|length }}">{{ sg.1 }}</th>
                {% else %}
                    <th rowspan="2">{{ sg.1 }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        <tr id="trheadsub">
            {% for sg in sensor_groups %}
                {% if sg.3|length > 1 %}
                    {% for s in sg.3 %}
                        <th>{{ s.1 }}</th>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tr>
        <tr id="trweek">
            <th rowspan="2" class="leftth">Average since Monday (kW)</th>
            {% for sg in sensor_groups %}
                {% if sg.3|length > 1 %}
                    <td colspan="{{ sg.3|length }}" id="WeeklySG{{ sg.0 }}"></td>
                {% else %}
                    <td rowspan="2" id="WeeklySG{{ sg.0 }}"></td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr id="trweeksub">
            {% for sg in sensor_groups %}
                {% if sg.3|length > 1 %}
                    {% for s in sg.3 %}
                        <td id="WeeklyS{{ s.0 }}"></td>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tr>
        <tr id="trmonth">
            <th rowspan="2" class="leftth">Average this month (kW)</th>
            {% for sg in sensor_groups %}
                {% if sg.3|length > 1 %}
                    <td colspan="{{ sg.3|length }}" id="MonthlySG{{ sg.0 }}"></td>
                {% else %}
                    <td rowspan="2" id="MonthlySG{{ sg.0 }}"></td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr id="trmonthsub">
            {% for sg in sensor_groups %}
                {% if sg.3|length > 1 %}
                    {% for s in sg.3 %}
                        <td id="MonthlyS{{ s.0 }}"></td>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tr>
    </tbody>
</table>

{% endblock %}
