{% extends "base.html" %}

{% block title %}Energy Usage at Mudd{% endblock %}

{% block morehead %}
<script language="javascript" type="text/javascript">
    var MEDIA_URL = "{{ MEDIA_URL }}";
    var data_url = "{{ data_url }}";
</script>
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}mon_status.js"></script>
{% endblock %}

{% block content %}
<table class="center" id="monstatus">
    <colgroup>
    <col />
    <col />
    <col />
    <col />
    <col />
    </colgroup>

    <tbody>
        <tr>
            <th class="sensorcol">Sensor</th>
            <th>Last Reading</th>
            <th>Avg. Time</th>
            <th>Min. Time</th>
            <th>Max. Time</th>
        </tr>
        {% for sg in sensor_groups %}
            {% for s in sg.3 %}
                <tr>
                    <td class="sensorcol" id="sensor-name-{{ s.0 }}">{{ sg.1 }} {{ s.1 }}</td>
                    <td id="last-reading-{{ s.0 }}"></td>
                    <td id="avg-time-{{ s.0 }}"></td>
                    <td id="min-time-{{ s.0 }}"></td>
                    <td id="max-time-{{ s.0 }}"></td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
