$def with (sensor_groups)
<!DOCTYPE HTML>
<html>
<head>

<title>Energy Usage at Mudd</title>

<link rel="stylesheet" href="static/index.css" type="text/css" media="screen" />
<!--[if IE]><script language="javascript" type="text/javascript" src="static/flot/excanvas.min.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="static/flot/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="static/flot/jquery.flot.min.js"></script>
<script language="javascript" type="text/javascript" src="static/mindex.js"></script>

</head>
<body>

<div id="graph"></div>

<table class="center" id="energystats">
    <colgroup id="colgroupstats">
    <col id="leftthcol" />
    $for sg in sensor_groups:
        $for s in sg[3]:
            <col class="col$(len(sg[3]))" />
    </colgroup>
    <tbody>
        <tr id="trhead">
            <th rowspan="2" class="leftth"></th>
            $for sg in sensor_groups:
                $if len(sg[3]) > 1:
                    <th colspan="$(len(sg[3]))">$(sg[1])</th>
                $else:
                    <th rowspan="2">$(sg[1])</th>
        </tr>
        <tr id="trheadsub">
            $for sg in sensor_groups:
                $if len(sg[3]) > 1:
                    $for s in sg[3]:
                        <th>$(s[1])</th>
        </tr>
        <tr id="trweek">
            <th rowspan="2" class="leftth">Average since Monday (kW)</th>
            $for sg in sensor_groups:
                $if len(sg[3]) > 1:
                    <td colspan="$(len(sg[3]))" id="WeeklySG$(sg[0])"></td>
                $else:
                    <td rowspan="2" id="WeeklySG$(sg[0])"></td>
        </tr>
        <tr id="trweeksub">
            $for sg in sensor_groups:
                $if len(sg[3]) > 1:
                    $for s in sg[3]:
                        <td id="WeeklyS$(s[0])"></td>
        </tr>
        <tr id="trmonth">
            <th rowspan="2" class="leftth">Average this month (kW)</th>
            $for sg in sensor_groups:
                $if len(sg[3]) > 1:
                    <td colspan="$(len(sg[3]))" id="MonthlySG$(sg[0])"></td>
                $else:
                    <td rowspan="2" id="MonthlySG$(sg[0])"></td>
        </tr>
        <tr id="trmonthsub">
            $for sg in sensor_groups:
                $if len(sg[3]) > 1:
                    $for s in sg[3]:
                        <td id="MonthlyS$(s[0])"></td>
        </tr>
    </tbody>
</table>

<p id="poweredby">
    Powered by <a href="http://www.rhizomesystems.com/">Rhizome Systems</a>.
</p>

</body>
</html>
