*
{
    font-size: 16px;
    font-family: sans-serif;
}

div#content
{
    max-width: 985px;
    margin: auto;
}

img.loading
{
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div#graph
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    height: 500px;
    width: 985px;
}

div#graph *
{
    font-size: 16px;
    color: black;
    font-family: sans-serif;
}

h2.center
{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-family: sans-serif;
}

table.center 
{
    margin: auto;
}

table#energystats
{
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    border: 2px solid #bbbbbb;
}

#energystats #colgroupstats col.col1
{
    width: 65px;
    border: 1px solid #d0d0d0;
}

#energystats #colgroupstats col.col2
{
    width: 65px;
    border: 1px solid #d0d0d0;
}

#energystats #colgroupstats col.col3
{
    width: 65px;
    border: 1px solid #d0d0d0;
}

#energystats tbody tr td, th
{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    vertical-align: top;
}

#energystats tbody tr td
{
    font-weight: normal;
}

#energystats tbody tr th
{
    font-weight: normal;
}

#energystats tbody #trheadsub th
{
    font-weight: normal;
    border-top: 1px solid #d0d0d0;
    border-bottom: 2px solid #bbbbbb;
}

#energystats tbody #trweek *
{
    border-top: 2px solid #bbbbbb;
    border-bottom: 1px solid #d0d0d0;
}

#energystats tbody #trmonth *
{
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

#energystats colgroup col#leftthcol
{
    border-right: 2px solid #bbbbbb;
    border-left: 2px solid #bbbbbb;
    width: 130px;
}

#energystats tbody tr th.leftth
{
    border: 1px solid #d0d0d0;
}

table#static-graph-form
{
    margin: auto;
    text-align: left;
}

table#static-graph-form ul.errorlist
{
    margin: 0px;
    padding: 0px;
}

table#static-graph-form ul.errorlist li
{
    list-style-type: none;
    color: #990000;
}

ul#navbar
{
    text-align: center;
}

ul#navbar li
{
    display: inline;
    list-style-type: none;
}

p#poweredby
{
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
}

p#poweredby *
{
    font-size: 14px;
}

table#monstatus
{
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
}

#monstatus tbody tr td, th
{
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 2px;
    padding-top: 2px;
}

#monstatus tbody tr td
{
    font-weight: normal;
}

#monstatus tbody tr th
{
    font-weight: normal;
    border-bottom: 1px solid black;
}

#monstatus tbody tr td.sensorcol, th.sensorcol
{
    text-align: left;
}

#monstatus tbody tr#toprow th
{
    border-bottom: none;
}
